include LICENSE
include README.rst
include README.upgrading.rst
include RELEASE-NOTES.rst
include lookup.py
include lookup.sh
include django-sshkey-lookup
include django-sshkey-lookup-all
include django-sshkey-lookup-by-username
include django-sshkey-lookup-by-fingerprint
recursive-include django_sshkey/migrations *.py
recursive-include django_sshkey/south_migrations *.py
recursive-include django_sshkey/templates.example *
